  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
  }

  main {
    padding: 16px;
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
  }

  footer {
    padding: 24px, 0px, 24px, 0px;
  }

  img {
    height: 200px
  }

  nav {
    padding: 16px;
    border-bottom: 1px solid black;
  }

  .my-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
  }

  .nav-color {
    background-color: rgb(245, 93, 47);
  }

  .h1-detail-color {
    color: rgb(16, 92, 16)
  }

  .footer-color {
    background-color: rgb(146, 187, 76);
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 24px;
  }
  .anchor-color {
    text-decoration: none;
    color: green ;
  }
.header-anchor-color {
  color: white ;
}
tr:nth-child(even) {
    background-color: rgba(128, 126, 124, 0.418);
  }
